<!-- Contain everything on page in wrapper -->



<div class="page-wrapper">



	
	<!-- About Section-->
	<section id="about" >
		<h2>About</h2>
		<div class="resume-container">
			<div class="about-intro">
				<p>Welcome! I am a PhD student in the Department of Political Science at Simon Fraser University and a Joseph-Armand Bombardier Doctoral Fellow. </p>
				<p>I specialize in interest group lobbying, methodology, and Canadian politics. My dissertation employs data science techniques to generate new knowledge about how interest groups interact with and influence politicians. </p>
				<p>On this website you can find my CV and links to some of my current work. You can also contact me here.</p>
			</div>


		</div>
	</section>


	<!-- Work Grid -->

		<!-- About Section-->
	<section id="research" >
		<h2>Research</h2>
		<div class="resume-container">
			<div class="about-intro">
				<p>In my dissertation, I consider the relationship between information, interest groups, and institutions. I do so in the context of popular concerns over democratic responsiveness, government accountability, and political polarization. Specifically, I explore whether interest groups have a moderating effect on the link between voter attention and government attention.</p>
				<p>I argue that certain groups – namely, public interest groups – can strengthen the link between voter attention and government attention. However, I also explore whether this comes at a cost in the legislature. Given disciplined parties, interest groups may weaken the legislative branch’s capacity to hold the executive accountable. Moreover, strong ties between interest groups and political parties may result in polarized, asymmetric access to information in Parliament.</p>
			</div>

	<a href="https://drive.google.com/file/d/1H2y3WO3hZsIWdQKUe4CziSz5XYaKfofp/view?usp=sharing" target="_blank">
			<button>Download Full CV</button> </a>
		</div>
	</section>


	<!-- 	<div id ="shuffleGrid" #shuffleGrid class="my-shuffle" > 
	<figure  *ngFor="let project of projects"   class=" col-xs-12 col-sm-6 col-lg-4 picture-item js-item column row-span no-gutters "> -->
		<!-- Note You can use fragment="header" in the <a> tag to add a hash -->
	<!-- 			<a  routerLink="/detail/{{project.id}}"   >
					<div class="aspect aspect--size">
						<div class="aspect__inner">
							<div class="project-title">
								<h3>{{project.thumbname}} </h3>
							</div>
							<img src="{{project.thumbnail}}" obj.alt="obj.alt" alt="Picture of the {{project.name}} project"/>
						</div>
					</div>
				</a>
			</figure>
		</div> -->
	
		<!-- </section> -->



		<!--Contact Section-->

		<section id="contact"  >
			<h2>Contact</h2>
			<p>
				Vincent Hopkins<br>
				AQ 6042, <br>
				8888 University Drive<br>
				Burnaby,British Columbia<br>
				V5A 1S6, Canada</p>
<br>
				<p><a href="">vrhopkin@sfu.ca</a></p>

			</section>



			<!--Close Page Wrapper -->
		</div>



