
<div id="p5container">
 <header class= "site-header flex-wrap" > 
  <!-- Left hand Side of Nav Bar-->
  <div class="logo">
   <a pageScroll [routerLink]="['']" href="#intro">
    <h1 class="logo-heading" >Vincent R. Hopkins</h1>
    <h2 class="logo-subheading ">Political Researcher // Data Scientist</h2>
  </a>
</div>

<!-- Right hand Side of Nav Bar-->
<nav class="menu">
 <ul class="nav-grid">
  <li> <a pageScroll [routerLink]="['']" href="#about">About</a></li>
  <li>   <a pageScroll [routerLink]="['']" href="#research">Research</a>
  </li>

  <li> <a pageScroll [routerLink]="['']" href="#contact">Contact</a></li>
</ul>
</nav> 
</header>


<router-outlet></router-outlet> 
