// $font-stack:    "Lato", sans-serif;
$font-color: #242424;
$font-accent: rgb(255,52,89);

$break-xsmall: 480px;
$break-small: 736px;
$break-medium: 960px;
$break-large: 1280px;
$break-xlarge: 1690px;
$break-large: 1200px;


